a {
  background-color: #AC8AC4;
  border-style: solid;
  border-width: 1px;
  border-color: #896C9D;
  border-radius: 8px;
  color: white;
  padding: 10px 60px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(135deg, rgba(0,0,0,0), rgba(0,0,0,0.2)30%);
}

a:hover {
  background-color: #8b2231;
  border-style: solid;
  border-width: 1px;
  border-color: #671924;
  border-radius: 8px;
  color: white;
  padding: 10px 60px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(135deg, rgba(0,0,0,0), rgba(0,0,0,0.2)30%);
}
